<html>
    <head>
        <title>
          <%= title %>
        </title>
    </head>
    <body>
        <!-- including header as partials -->
        <%- include('_header'); %> 
        <h1> In home </h1>
        <%= title %>  
        <!-- including footer as partials -->
        <%- include('_footer'); %>    
    </body>
</html>